body{
  background-color: cyan;
  padding: 0;
  margin: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1{
  text-align: center;
  font-size: 80px;
  font-style: italic;
	margin-top: 30px;
}

h2{
  font-size: 50px;
  text-align: left;
}

#Ingredients{
  width: 30%;
  height: 600px;
  position: absolute;
  background-color: ;
  top:200px;
  left:90px;

}
#ingredients p{
  text-align: left;
  font-size: 20px;
  font-family: monospace;
}


h3{
  text-align: center;
  font-size: 50px;
}

#recepta p{
	margin-left: 0;
	font-size: 20px;
  font-family: monospace;
	text-align: justify;
  padding: 5%;
}

#recepta{
  width: 30%;
  height: 600px;
  position: absolute;
  background-color: ;
  top:200px;
  left:1250px;
	font-size: 50px;
}

img{
  width: 30%;
  height:700px;
	position: inherit;
}
